.form {
  width: 100%; /*Que tome el tamaño maximo permitido por la pantalla */
}

.reservation__form {
  margin: 0 auto; /*Centramos el formulario */
  max-width: 385px; /* Ancho maximo del formulario */
}

.form__fieldset {
  display: flex; /* Activamos flexbos para hacer que el form sea vertical */
  flex-direction: column; /* Colocamos los lelementos en una columna */
  margin: 0; /*Quitamos el margin */
  padding: 0; /*Quitamos el paddinng */
  border: none; /*Quitamos el borde predeterminado por defecto*/
}

.form__label {
  margin-bottom: 8px; /*Margen inferior del label*/

  /* Estilo de texto */
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__input {
  height: 60px; /* Altura del campo */
  box-sizing: border-box; /*El margen no sobrepasa los valores de altura y ancho, incluye padding y border dentro del height*/
  margin-bottom: 32px; /*Margen inferior del label*/

  /* Estilo del campo de entrada*/
  border-radius: 4px; /* Radio del redondeo del recuadro */
  border-color: #838383;
  /* Estilo de texto */
  font-size: 20px;
  line-height: 30px;
  padding: 15px 20px;
}

.form__button {
  height: 60px; /* Altura del campo */
  margin-bottom: 32px; /*Margen inferior del label*/
  /* Estilo del boton */
  background-color: #2f80ed;
  border-radius: 4px; /* Radio del redondeo del recuadro */
  border: none; /*Quitamos el borde */

  /* Estilo de texto */
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.form__button:hover {
  opacity: 70%;
}

.form__label_type-checkbox {
  display: flex; /*Activamos felxbos para poder alinear el texto con el contendor */
  align-items: center; /* Alinea items de forma vertical */
  justify-content: center; /* Alinea items de forma horizontal */
  margin: 0; /*Quitamos margenes */
}

.form__checkbox-input {
  width: 20px; /* Ancho recuadro */
  height: 20px; /* Alto recuadro */
  margin-right: 12px; /*Margen derecho*/
  /* Estilo de Checkbox */
  accent-color: #2f80ed; /* Color de marcado */
  border-radius: 2px; /* Radio del redondeo del recuadro */
}
