.page {
  /* Tamaño de pantalla */
  min-width: 1100px;
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;

  position: relative; /*Evita que el contenido se salga de la pagina */

  /* Fuentes Inter y Noto Serif y fuentes alternativas */
  font-family: "Inter", Arial, sans-serif;
  /*font-family: "Noto Serif", "Times New Roman", serif;*/

  /* Caracteristicas de fuente */
  font-size: 16px;
  line-height: 20px;

  /* Brief Sprint 4 Stage 2 */
  background-color: #ffffff; /* Color de fondo */
  background-image: url("../images/background_header.svg"); /* Imagen de fondo */
  background-repeat: no-repeat; /* Que no se repita el fondo */
  /*background-position: center; /* Centramos la imagen de fondo */
  background-size: contain; /*Que cubra todo el contenedor */
}
.header {
  /* Brief Sprint 4 Stage 2 */
  display: flex; /* Activamos flexbox */
  flex-direction: column; /* Cambiamos la direccion por defecto */
  height: 100vh; /* Declaramos tamaño de la pantalla para  que se adapte entre 720px y 800px*/
  min-height: 720px; /* Altura minima*/
  max-height: 800px; /* Altura maxima */
  padding: 30px 80px 40px; /* Padding */
  box-sizing: border-box; /* Hace que el padding no exceda el tamaño */
}
.nav {
  display: flex; /* Activamos flexbox */
  justify-content: space-between; /* Distancia entre elementos */
}

.nav__logo {
  position: relative; /* Sirve para asignar la posicion del elemento manteniendo su flujo de trabajo  en base a su objeto padre*/
  width: 105px; /* Ancho */
  height: 39px; /* Alto */
  left: -50px; /* Margen Izquierdo */
}

.nav__links {
  display: flex; /* Activamos flexbox */
  column-gap: 20px; /* Separacion entre elementos gap */
  list-style-type: none; /* Quitamos las viñetas de las listas */
  padding: 0px; /* Eliminamos el relleno de la lista */
  margin: 0px; /* Eliminamos el margen de la lista */
}
.nav__link {
  color: #000000; /* Colo de la fuente */
  text-decoration: none; /* Quitamos el subrayado del texto */
  /* Estilos del texto */
  font-weight: 500; /* Grosor de la fuente (Negritas)*/
  font-size: 16px; /*Tamaño de la fuente */
  line-height: 20px; /* Altura de la texto */
}

.header__title {
  margin-top: 183px; /* Margen superior */
  margin-bottom: 28px; /* Margen inferior */
  max-width: 709px; /* Ancho maximo */

  /* Estilo de texto */
  font-weight: 500; /* Grosor de texto */
  font-size: 58px; /*Tamaño de la fuente */
  line-height: 72px; /* Altura de la texto */
  letter-spacing: -1px; /* Espacio entre letras */
}

.header__span-accent {
  display: block; /* Hacemos que sea un bloque para perzonalizar el texto*/

  /* Estilo de texto */
  font-family:
    "Noto Serif", "Times New Roman", serif; /* Fuente Noto Serif y fuentes alternativas */
  font-style: italic; /* Cursivas */
  font-weight: normal; /* Grosor de texto */
  color: #2f80ed; /* Color letras */
}

.header__description {
  margin-top: 0px; /* Margen superior */
  max-width: 683px; /* Ancho maximo */

  /* Estilo de texto */
  font-family:
    "Noto Serif", "Times New Roman", serif; /* Fuente Noto Serif y fuentes alternativas */
  font-weight: normal; /* Grosor de texto */
  font-size: 20px; /*Tamaño de la fuente */
  line-height: 30px; /* Altura de la texto */
}

.header__image {
  width: 646px; /* 2.1 Ancho de la imagen */
  height: 568px; /* 2.1 Alto de la imagen */
  position: absolute; /* Posicion con base a el sitio web */
  top: 124px;
  right: 5px;
}

.header__footer {
  display: flex; /* Activamos dysplay flex para que funcione Justify content */
  justify-content: space-between; /* Establecemos el espacio entre elementos */
  margin-top: auto; /* Margen superior automatico */
}

.header__paragraph {
  margin-top: 0; /* Quitamos el margen superior del titulo */
  margin-bottom: 0; /* Quitamos el margen inferior del titulo */

  /* Tipografia */
  font-weight: 500; /* Grosor de fuente */
  font-size: 16px; /* Tamaño de fiente */
  line-height: 20px; /*Altura de fuente */
  color: #838383; /* Color tipografia */
}

.header__footer-left {
  display: flex; /* Activamos dysplay flex para que funcione flex direction */
  flex-direction: column; /* Columna */
}

.header__footer-right {
  display: flex; /* Activamos dysplay flex para que funcione aling items */
  align-items: flex-end; /* Se alinean a la parte de abajo */
}

.header__footer_list {
  list-style-type: none; /* Quitamos las viñetas de las listas */
  padding: 0; /* Eliminamos el relleno */
  margin: 0; /*Eliminamos el margen */
}

.header__footer_list-item {
  /* Estilo de texto */
  font-weight: 500; /* Grosor de fuente */
  font-size: 16px; /* Tamaño de fiente */
  line-height: 20px; /*Altura de fuente */
  color: #838383; /* Color tipografia */
}

.main {
}
.recipes {
  /* Brief Sprint 4 Stage 2 */
  background-color: #0a2750; /* Color de fondo */
  background-image: url("../images/background_recipes.svg"); /* Imagen de fondo */
  background-repeat: no-repeat; /* Que no se repita el fondo */
  /*background-position: center; /* Centramos la imagen de fondo */
  background-size: cover; /*Que cubra todo el contenedor */

  /* Brief Sprint 4 Stage 2 */
  display: flex; /* Activamos flexbox */
  flex-direction: column; /* Cambiamos la direccion por defecto */
  padding: 80px 100px 215px; /* Padding */
}

.recipes__title {
  margin-top: 0px; /* Margen superior */
  max-width: 540px; /* Ancho maximo */
  margin-bottom: 24px; /* Margen inferior */

  /* Estilo de texto */
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: #ffffff;
}
.recipes__subtitle {
  margin-top: 0px; /* Margen superior */
  max-width: 438px; /* Ancho maximo */
  margin-bottom: 80px; /* Margen inferior */

  /* Estilo de texto */
  font-family:
    "Noto Serif", "Times New Roman", serif; /* Fuente Noto Serif y fuentes alternativas */
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
}
.recipes__videos {
  display: flex; /*Activamos flexbox */
  align-items: center; /* Transversal */
  justify-content: center; /* Alimeacion Principal */
  flex-direction: row;
  gap: 40px; /* Separacion entre elementos felxibles, horizontal y vertical */
}
.recipes__videos-item {
}
.recipes__iframe {
  border: none; /*Retiramos el borde del video*/
}

.recipes__videos-caption {
  margin-top: 24px; /* Margen superior */
  margin-bottom: 0; /*Quitamos margen inferior */

  display: flex; /* Activamos flexbox para poder justificar texto */
  justify-content: space-between; /* Justificamos los elementos del texto con un span */
  /* Estilo de texto */
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
}

.recipes__span-accent {
}

.reservation {
  /* Brief Sprint 4 Stage 3 */
  background-color: #d9e7ff; /* Color de fondo */
  background-image: url("../images/background_reservation.svg"); /* Imagen de fondo */
  background-repeat: no-repeat; /* Que no se repita el fondo */
  /*background-position: center; /* Centramos la imagen de fondo */
  background-size: cover; /*Que cubra todo el contenedor */
  /* Brief Sprint 4 Stage 3 */
  display: flex; /* Activamos flexbox */
  flex-direction: column; /* Cambiamos la direccion por defecto */
  padding: 100px 0 120px; /* Padding */
}

.reservation__title {
  margin: 0 auto 80px; /* Margen superior, laterial centrado, e inferior */
  max-width: 438px; /* Ancho maximo */

  /* Estilo de texto */
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.form {
  width: 100%; /*Que tome el tamaño maximo permitido por la pantalla */
}

.reservation__form {
  margin: 0 auto; /*Centramos el formulario */
  max-width: 385px; /* Ancho maximo del formulario */
}

.form__fieldset {
  display: flex; /* Activamos flexbos para hacer que el form sea vertical */
  flex-direction: column; /* Colocamos los lelementos en una columna */
  margin: 0; /*Quitamos el margin */
  padding: 0; /*Quitamos el paddinng */
  border: none; /*Quitamos el borde predeterminado por defecto*/
}

.form__label {
  margin-bottom: 8px; /*Margen inferior del label*/

  /* Estilo de texto */
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__input {
  height: 60px; /* Altura del campo */
  box-sizing: border-box; /*El margen no sobrepasa los valores de altura y ancho, incluye padding y border dentro del height*/
  margin-bottom: 32px; /*Margen inferior del label*/

  /* Estilo del campo de entrada*/
  border-radius: 4px; /* Radio del redondeo del recuadro */
  border-color: #838383;
  /* Estilo de texto */
  font-size: 20px;
  line-height: 30px;
  padding: 15px 20px;
}

.form__button {
  height: 60px; /* Altura del campo */
  margin-bottom: 32px; /*Margen inferior del label*/
  /* Estilo del boton */
  background-color: #2f80ed;
  border-radius: 4px; /* Radio del redondeo del recuadro */
  border: none; /*Quitamos el borde */

  /* Estilo de texto */
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.form__button:hover {
  opacity: 70%;
}

.form__label_type-checkbox {
  display: flex; /*Activamos felxbos para poder alinear el texto con el contendor */
  align-items: center; /* Alinea items de forma vertical */
  justify-content: center; /* Alinea items de forma horizontal */
  margin: 0; /*Quitamos margenes */
}

.form__checkbox-input {
  width: 20px; /* Ancho recuadro */
  height: 20px; /* Alto recuadro */
  margin-right: 12px; /*Margen derecho*/
  /* Estilo de Checkbox */
  accent-color: #2f80ed; /* Color de marcado */
  border-radius: 2px; /* Radio del redondeo del recuadro */
}
