.page {
  min-width: 1100px;
  max-width: 1600px;

  /* Fuentes Inter y Noto Serif y fuentes alternativas */
  font-family: "Inter", Arial, sans-serif;
  font-family: "Noto Serif", "Times New Roman", serif;

  /* Caracteristicas de fuente */
  font-size: 16px;
  line-height: 20px;
}
